@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&family=Varela+Round&display=swap');

#myBoard {
  width: 34rem;
}

#startBtn, #clearBtn {
  width: 1.5rem;
}

#flipBtn {
  width: 1.7rem;
  padding-top: 1rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.sidebar {
  border: 0.1rem black solid;
  height: 38rem;
  overflow: scroll;
}

p {
  font-family: Lato;
  font-weight: 900;
  font-size: 1.2rem;
}

.sidebarHeader1 {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0.3rem;
}

#whiteToMove, #randomToMove, #blackToMove {
  width: 3.5rem;
  padding: 0rem;
  margin: 0 0.2rem 0.6rem;
  border-radius: 1rem;
}

#whiteToMove:hover, #randomToMove:hover, #blackToMove:hover {
  border: 0.3rem solid greenyellow;
}

.colourBtnActive {
  border: 0.3rem solid greenyellow;
}

.text-start {
  padding-bottom: 0;
  margin-bottom: 0rem;
}

.black-padding-top {
  margin-top: 0.5rem;
}

.questionMark {
  position: relative;
  width: 1.5rem;
  height: auto;
  display: inline-block;
}

.sidebarHeader2 {
  padding-bottom: 0;
  margin-bottom: 0.3rem;
  display: inline-block;
}

.variable-flex {
  white-space: nowrap;
  margin-top: 0.8rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.div-for-variable-imput-box {
  display: inline-block;
}

.slider-value-margin {
  margin-top: 0rem;
}

.messageBox {
  font-size: 0.9rem;
  font-style: italic;
  display: none;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.7rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.toggle-variable {
  margin-right: 0.5rem;
}

.play-button {
  padding: 0.3rem 0;
  background-color: rgb(148, 219, 41);
}

.justify-content-start{
  justify-content: center;
}