@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Montserrat:wght@100&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
    /* background-color: rgb(255, 255, 255); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Lato;
}

.sidebar {
    position: absolute;
    top: 2rem;
    right: 15rem;
    width: 30rem;
    height: 37rem;
    border-bottom-color: rgb(0, 0, 0);
}

.leelaimg {
    height: 3rem;
}

.leela_name {
    padding-left: 0.3rem;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-family: Lato;
    font-weight: bolder;
    padding-bottom: 0.1rem;
}

.section {
    background-color: rgba(0, 0, 0, 0.052);
    width: auto;
    height: 37.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    /* margin-top: -0.35rem; */
    border-style: solid;
    border-color: black;
}

.eval_switch_label {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family: Lato;
    font-weight: bolder;
    padding-right: 0.3rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.5rem;
    padding-top: 0.3rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider {
    background-color: #769656;
}

input:focus+.slider {
    box-shadow: 0 0 1px #769656;
}

input:checked+.slider:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.lines_switch_label {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family: Lato;
    font-weight: bolder;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.move {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.white,
.black {
    font-family: Lato;
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    margin: 0 2.5rem;
}

.icon-font-chess {
    font-family: 'Chess Merida';
}

/* add this selector to style the move number */
.move::before {
    content: attr(data-whole-move-number) ".";
    /* insert the move number and a dot before the text node */
    color: rgb(0, 0, 0);
    /* change the color to blue */
    font-weight: bold;
    /* make the font bold */
    margin-right: 0.5em;
    /* add some margin to the right */
}

.line1,
.line2,
.line3,
.line4,
.line5,
.line6,
.line7,
.line8,
.line9,
.line10 {
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 1rem;
    margin-left: 0.5rem;
}

#evalnum1,
#evalnum2,
#evalnum3,
#evalnum4,
#evalnum5,
#evalnum6,
#evalnum7,
#evalnum8,
#evalnum9,
#evalnum10,
#num1,
#num2,
#num3,
#num4,
#num5,
#num6,
#num7,
#num8,
#num9,
#num10 {
    font-weight: bolder;
}

#backward-button,
#forward-button,
#resign {
    color: rgb(255, 255, 255);
    background-color: rgb(173, 173, 173);
    font-size: 1.5rem;
    border-color: rgb(173, 173, 173);
    position: absolute;
    width: 150px;
    top: 585px;
}

#backward-button:hover,
#forward-button:hover,
#resign:hover {
    background-color: rgb(84, 84, 84);
    border-color: rgb(84, 84, 84);
}

#forward-button {
    left: 165px;
}

#resign {
    left: 322px;
}

.tableText {
    color: rgb(0, 0, 0);
}

.stockfishInfo {
    position: absolute;
    margin-left: 200px;
    margin-top: 115px;
}

#gameEnd {
    display: none;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    text-align: center;
    width: 594px;
    height: 198px;
    position: absolute;
    margin-top: 300px;
    left: 252px;
    animation-name: endgame;
}

@keyframes endgame {
    0% {
        margin-top: 300px;
    }
}

#moves {
    color: rgb(42, 42, 42);
    font-size: 32px;
    /* text-align: center; */
    height: 220px;
    overflow: auto;
}

#lines {
    text-align: center;
    height: 100px;
    overflow: auto;
}

.sidebarTopRow {
    text-align: center;
    margin-left: 120px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a6a6a6;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #747474;
}

.moveonsidebar:hover {
    color: #747474;
    cursor: pointer;
}

.moveNumber {
    position: relative;
    display: inline-block;
    width: 0px;
    margin-left: 40px;
}

.whiteMove {
    position: relative;
    display: inline-block;
    width: 0px;
    margin-left: 130px;
}

.blackMove {
    position: relative;
    display: inline-block;
    width: 0px;
    margin-left: 150px;
}

#sync {
    color: black;
}


@font-face {
    font-family: Digital-7 Mono;
    src: url(digital-7\ \(mono\).ttf);
}

.clockTime{
    font-family: Digital-7 Mono;
    color: rgb(0, 0, 0);
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: -50px;
    position: relative;
    left: 260px;
}

#whiteTime{
    position: absolute;
    font-size: 300%;
    left: 200px;
    top: 620px;
}

#blackTime{
    position: absolute;
    font-size: 300%;
    left: 200px;
    top: 30px;
}

.evalBar{
    position: absolute;
    left: 150px;
    top: 50px;
    width: 20px;
    height: 630px;
    border-color: black;
    border-style: solid;
    background-color: white;
}

.evalVal{
    position: absolute;
    left: 150px;
    top: 50px;
    width: 20px;
    height: 315px;  
    background-color: black;
}

.white-rectanglewin {
    top: 300px;
    left: 800px;
    z-index: 9999;
    position: absolute;
    margin: 50px;
    background-color: rgb(6, 161, 40);
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(6, 161, 40);
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bolder;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.endScreenButton {
    background-color: rgb(196, 196, 196);
    width: 140px;
    height: 70px;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: transparent;
    transition: all 0.3s;
    font-family: 'Source Sans 3', sans-serif;
    margin: 0 5px;
    font-size: 20px;
    align-items: center;
}

.endScreenButton:hover {
    background-color: grey;
    color: white;
}

.endScreenButton:active {
    transform: scale(0.95);
}

.top-part {
    color: white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-part {
    background-color: white;
    width: 18.5rem;
    color: black;
    height: 100px;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.white-rectanglelose {
    top: 300px;
    left: 800px;
    z-index: 9999;
    position: absolute;
    margin: 50px;
    background-color: rgb(204, 0, 0);
    border: 2px solid rgb(205, 0, 0);
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bolder;
}

.white-rectangledraw {
    top: 300px;
    left: 800px;
    z-index: 9999;
    position: absolute;
    margin: 50px;
    background-color: rgb(190, 235, 30);
    border: 2px solid rgb(190, 235, 30);
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bolder;
}

#whiteTimeName{
    font-size: 36px;
}

#blackTimeName{
    font-size:40px;
}

.stockfishLogo,
.playerLogo{
    height: 125px;
    outline: solid 0px rgb(93, 211, 63);
    transition: outline 0.2s linear;
    border-radius: 30px;
}
.playerLogo {
    margin-right: 25px;
}

.evalBar,
.evalVal{
    display: none;
}

#endScreenBigTitle, #endScreenSmallTitle {
    font-family: Montserrat;
    font-weight: 800;
}

#endScreenSmallTitle {
    margin-left: 150px;
}